/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

* {margin:0; padding:0;}

html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#959595;
	min-width:979px;
	background:#FFF url(tial_site.gif) top center repeat-x;
}

.main {
	width:979px; 	
	padding:0;
	margin:0 auto;
	font-size:12px;
	line-height:18px;
}

img {border:0; vertical-align:top; text-align:left;}
input, textarea{color:#3f3f3f; font-size:14px; border:1px solid #cccccc; line-height:22px; padding:0 0 0 5px;}
textarea{overflow:auto;}


a {color:#fe8a2e; outline:none; cursor:pointer;}
a:hover {text-decoration:none;}

object {outline:none;}
fieldset {border:0;}
ul {list-style:none;}
table, table td {padding:0; border:none; border-collapse:collapse;}
.fleft{ float:left;}
.fright{ float:right;}
.clear{ width:100%; overflow:hidden;}
.col-1, .col-2, .col-3, .col-4, .row-box-1, .row-box-2, .row-box-3, .row-box-4{ float:left;}
.br{ display:block;}
/*contstant-text*/
.bottom-none{ padding-bottom:0 !important;}
.bg-none{ background:none !important;}
.border-none{ border:none;}
/**/



/*--- slider begin ---*/

#faded { position:relative; margin-top:145px;}
#faded .rap{ height:514px;overflow: hidden;}
.rap li{ width:100%;height:514px;}
.bg1{ background:url(slider_img1.jpg) center top no-repeat;}
.bg2{ background:url(slider_img2.jpg) top center no-repeat;}
.bg3{ background:url(slider_img3.jpg) top center no-repeat;}
.bg4{ background:url(slider_img4.jpg) top center no-repeat;}

.rap .main{ position:relative; }

ul.pagination { position:absolute; z-index:10; top:28px; margin-left:42px;}
ul.pagination li {float:left; padding-right:3px;}
ul.pagination li a {background: url(slider_button.png) no-repeat; height:21px; width:21px; display:block; }
ul.pagination li a:hover, ul.pagination li.current a { background: url(slider_button_act.png) no-repeat;}


/*--- slider end ---*/